body{
  font-family: 'Poppins', sans-serif;
}

.nav-item {
    padding: auto;
}
.menu{
padding-right: 0;
}
.logo{
    width: 80%;
}
#cover{
  background-image: url(/images/profile-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  background-size: 100%;
}


section h1
{
 
  font:800px 22px consolas;    
  width:24ch;
  white-space:nowrap;
  overflow:hidden;
  animation:type 5s steps(13) infinite;
  color: white;
 
}
@keyframes type
{
  0%{ width:0; } 
}

  .zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
   
    margin: 0 auto;
  }
  
  .zoom:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #17738f;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
